<div class="jumbotron">
  <h1>Welcome to Collaboration tool</h1>
  <p class="lead">
    
  <p><a class="btn btn-lg btn-success" ng-href="#/">Get Started!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Manage your staff</h4>
  <p>
    Collaboration tool allows you to manage any type of resouce to be managed 
  </p>

  <h4>Collaborate with you team</h4>
  <p>
   Collaboration tool is designed to allow users to collaberate with each other
  </p>

  <h4>Stay update</h4>
  <p>Users will stay update with the resouce updated.</p>
</div>
